<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Current Sumatera AQUA Plants' Sustainability Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Current Sumatera AQUA Plants' Sustainability Model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b0d13b2bf1f8420ab81a1397fa3549df.png" alt="Current Sumatera AQUA Plants' Sustainability Model" usemap="#id-b0d13b2bf1f8420ab81a1397fa3549dfmap"/>
			   <map name="id-b0d13b2bf1f8420ab81a1397fa3549dfmap">
				  						<area shape="rect" coords="502,274,622,329" href="../elements/id-86ace670b7cc435bb1e2572208dd274b.html"  target="element">
				  						<area shape="rect" coords="502,202,622,257" href="../elements/id-75c6d02b72ab4ec58567502ee8d429c8.html"  target="element">

				  				<area shape="rect" coords="478,154,646,359" href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html"  target="element">
				  						<area shape="rect" coords="298,214,418,269" href="../elements/id-8b944531e9a44f1fb1dfbba30565e1dd.html"  target="element">

				  				<area shape="rect" coords="274,154,443,347" href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html"  target="element">
				  						<area shape="rect" coords="94,334,226,394" href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html"  target="element">
				  						<area shape="rect" coords="94,262,226,323" href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html"  target="element">
				  						<area shape="rect" coords="94,190,226,245" href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html"  target="element">

				  				<area shape="rect" coords="70,154,238,419" href="../elements/id-74375149cd2b4a70a3a624f256f33448.html"  target="element">
				  						<area shape="rect" coords="706,298,826,335" href="../elements/id-c4991060b1524b199503173ac7656c30.html"  target="element">
				  						<area shape="rect" coords="706,250,826,287" href="../elements/id-d8e8c4fa7a8742afb6143545c20b8d9f.html"  target="element">

				  				<area shape="rect" coords="682,178,839,359" href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html"  target="element">

				  		<area shape="rect" coords="10,10,887,527" href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html" target="element"> Sumatra Region AQUA Plant </a> </td>
											    <td> <a href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
													    <td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d8e8c4fa7a8742afb6143545c20b8d9f.html" target="element"> Halal standarization </a> </td>
															    <td> <a href="../elements/id-d8e8c4fa7a8742afb6143545c20b8d9f.html" target="element" class="i18n-elementtype-Constraint">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c4991060b1524b199503173ac7656c30.html" target="element"> BPOM standarization </a> </td>
															    <td> <a href="../elements/id-c4991060b1524b199503173ac7656c30.html" target="element" class="i18n-elementtype-Constraint">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
													    <td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element"> 100% clean energy utilization </a> </td>
															    <td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element" class="i18n-elementtype-Goal">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element"> Carbon Trust's Carbon neutral certification </a> </td>
															    <td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element" class="i18n-elementtype-Goal">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element"> 100% recyclable packaging </a> </td>
															    <td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element" class="i18n-elementtype-Goal">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
													    <td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8b944531e9a44f1fb1dfbba30565e1dd.html" target="element"> 10% recycleable packaging </a> </td>
															    <td> <a href="../elements/id-8b944531e9a44f1fb1dfbba30565e1dd.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
													    <td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-75c6d02b72ab4ec58567502ee8d429c8.html" target="element"> Halal Certified </a> </td>
															    <td> <a href="../elements/id-75c6d02b72ab4ec58567502ee8d429c8.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-86ace670b7cc435bb1e2572208dd274b.html" target="element"> BPOM Certified </a> </td>
															    <td> <a href="../elements/id-86ace670b7cc435bb1e2572208dd274b.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-202cc774b30342c1b164d1642b0074f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-202cc774b30342c1b164d1642b0074f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html" target="element"> Sumatra Region AQUA Plant </a> </td>
																		<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a8c33a7880c49e6af83865a6197331b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a8c33a7880c49e6af83865a6197331b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html" target="element"> Sumatra Region AQUA Plant </a> </td>
																		<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2115c5f23d1d4b0eabc67ff913182b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2115c5f23d1d4b0eabc67ff913182b52.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42ac707b60224373bf365dd89fb8c50a.html" target="element"> Sumatra Region AQUA Plant </a> </td>
																		<td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d08512a508dd492ea364f8a7116471ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d08512a508dd492ea364f8a7116471ef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																				<td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c3cb3f354b724f0c8bfa0e1d1e3cb36e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c3cb3f354b724f0c8bfa0e1d1e3cb36e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																				<td> <a href="../elements/id-c4991060b1524b199503173ac7656c30.html" target="element"> BPOM standarization </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eefa0aff0d714329b7c807c16ea941c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eefa0aff0d714329b7c807c16ea941c2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fbf19d3c95c9484a87c0bc0ffe5d0a12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbf19d3c95c9484a87c0bc0ffe5d0a12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																				<td> <a href="../elements/id-d8e8c4fa7a8742afb6143545c20b8d9f.html" target="element"> Halal standarization </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-20acc2344e3c434382e6aa43850d9f42.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20acc2344e3c434382e6aa43850d9f42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																				<td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element"> Carbon Trust's Carbon neutral certification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ea7f662de4d74bec8d56b73136876c14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea7f662de4d74bec8d56b73136876c14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																				<td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element"> 100% recyclable packaging </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-30c3d225ece04570ae577468d36f9f55.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30c3d225ece04570ae577468d36f9f55.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																				<td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element"> 100% clean energy utilization </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d5146e1a81ce41fc9e2b3f20647080f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5146e1a81ce41fc9e2b3f20647080f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89c3658dfd6e4f71bfae29b9b03511d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89c3658dfd6e4f71bfae29b9b03511d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
																				<td> <a href="../elements/id-8b944531e9a44f1fb1dfbba30565e1dd.html" target="element"> 10% recycleable packaging </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-cd0f3b5f45c54869bfc9c15033eb5e67.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cd0f3b5f45c54869bfc9c15033eb5e67.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
																				<td> <a href="../elements/id-75c6d02b72ab4ec58567502ee8d429c8.html" target="element"> Halal Certified </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-19fe54b15f504738ab9f9c271942015b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19fe54b15f504738ab9f9c271942015b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
																				<td> <a href="../elements/id-e1b76d2b1a9d4c96968fd8503bc50b9b.html" target="element"> Sustainability Standard, Regulatory, &amp; Compliance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0c5270a2907b4227b9d422de751ed482.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c5270a2907b4227b9d422de751ed482.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
																				<td> <a href="../elements/id-86ace670b7cc435bb1e2572208dd274b.html" target="element"> BPOM Certified </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f26ad109b87d41b79876643386fbee7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f26ad109b87d41b79876643386fbee7d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
																				<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6fafe37ca5a43be8ffcac75d00ca410.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6fafe37ca5a43be8ffcac75d00ca410.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0ebdc043e4d48e89cf0a9a061555624.html" target="element"> Sustainability Certification </a> </td>
																				<td> <a href="../elements/id-d6da276dd4ba4884b29bbd08921a929b.html" target="element"> Sustainability Outcome </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>