<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Target Sumatera AQUA Plants' Sustainability Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Target Sumatera AQUA Plants' Sustainability Model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c923d0a6fc80424a86c7053db8153bc8.png" alt="Target Sumatera AQUA Plants' Sustainability Model" usemap="#id-c923d0a6fc80424a86c7053db8153bc8map"/>
			   <map name="id-c923d0a6fc80424a86c7053db8153bc8map">
				  		<area shape="rect" coords="850,10,970,65" href="../elements/id-653d466566fc4fa883deb27d7e9044d5.html"  target="element">
				  		<area shape="rect" coords="850,94,970,149" href="../elements/id-ed65a796981a42ef8e1d6c9d53138b90.html"  target="element">
				  		<area shape="rect" coords="850,175,970,230" href="../elements/id-259aec0d496d4530b28753060fff8335.html"  target="element">
				  				<area shape="rect" coords="443,154,552,193" href="../elements/id-1d0feeeb7dac4cab926946deb73d7e81.html"  target="element">
				  				<area shape="rect" coords="563,154,672,193" href="../elements/id-964d5d2a02ff4a24b65c1de6faa37a8a.html"  target="element">
				  				<area shape="rect" coords="683,154,792,193" href="../elements/id-f6124fd687444e68b6d18d7a4cdee6e3.html"  target="element">

				  		<area shape="rect" coords="419,118,815,200" href="../elements/id-94b6d8c3679c4c8e85cda2d850d4e0ce.html"  target="element">
				  				<area shape="rect" coords="610,425,707,473" href="../elements/id-d970b71da26141d6b54f261654416355.html"  target="element">
				  				<area shape="rect" coords="718,425,791,473" href="../elements/id-f738606415b84b6f81756b7ab0fcdfd7.html"  target="element">
				  				<area shape="rect" coords="310,421,430,476" href="../elements/id-9a47c4b5d24f448b961e85d385eea6fc.html"  target="element">
				  				<area shape="rect" coords="214,421,298,461" href="../elements/id-4b2cf1ed0dfc4d398dddc143475118c3.html"  target="element">
				  				<area shape="rect" coords="442,424,515,473" href="../elements/id-e614c3b1924b4a2aa57c09b327ad58b7.html"  target="element">
				  				<area shape="rect" coords="526,424,599,473" href="../elements/id-fa093a7e78b54602a0cdd3f8e4e61940.html"  target="element">

				  		<area shape="rect" coords="190,385,815,482" href="../elements/id-bdf52e2fa40a4c368ac191fb2584540b.html"  target="element">
				  				<area shape="rect" coords="203,274,300,323" href="../elements/id-0d18e923274544d98c7714ded3b40653.html"  target="element">
				  				<area shape="rect" coords="311,274,408,323" href="../elements/id-6f324aff638c44f9a3b0d920889e1b41.html"  target="element">
				  				<area shape="rect" coords="419,274,504,311" href="../elements/id-4e7ec8449fca49d795f951f93e06f01b.html"  target="element">
				  				<area shape="rect" coords="611,274,720,311" href="../elements/id-075bd625cf7b4ec0867fa8d85345f03b.html"  target="element">
				  				<area shape="rect" coords="515,274,600,311" href="../elements/id-cf992be8674347faa710f47e638673c5.html"  target="element">
				  				<area shape="rect" coords="731,274,792,302" href="../elements/id-76e003f3767d47b6ad5f71ddb9096507.html"  target="element">

				  		<area shape="rect" coords="190,238,814,338" href="../elements/id-c442811a87cc4a62aab6a72ced01d9c8.html"  target="element">
				  				<area shape="rect" coords="34,46,143,83" href="../elements/id-d75e5778caba4d8db8a3ab6bd20e2f83.html"  target="element">
				  				<area shape="rect" coords="154,46,263,83" href="../elements/id-d76962ee5471483f8f7c19fa1f311700.html"  target="element">
				  				<area shape="rect" coords="286,46,395,83" href="../elements/id-ac11b7e05a47452ea822db7c316e951b.html"  target="element">
				  				<area shape="rect" coords="418,46,527,83" href="../elements/id-eec3343cccb84065865f6da0b67a7af1.html"  target="element">
				  				<area shape="rect" coords="550,46,659,83" href="../elements/id-797d63a9017b4bd1bcd0d3588a39a1c8.html"  target="element">
				  				<area shape="rect" coords="682,46,791,83" href="../elements/id-9dfb0f06629641b3bb24b3f94aaa485c.html"  target="element">

				  		<area shape="rect" coords="10,10,814,95" href="../elements/id-dbdc00504da844d78f9993c057262e76.html"  target="element">
				  				<area shape="rect" coords="1018,406,1175,443" href="../elements/id-804c5888f3b54edf991c8054e8f77f15.html"  target="element">
				  				<area shape="rect" coords="1018,322,1175,383" href="../elements/id-dc8dd799f752453d9bba82002cf6ed14.html"  target="element">
				  				<area shape="rect" coords="1018,238,1175,311" href="../elements/id-ddc22cb4b8c844a39244c048b1b61b06.html"  target="element">
				  				<area shape="rect" coords="1018,190,1175,227" href="../elements/id-64fd1b0d4d4f4879b3e31962db39715b.html"  target="element">
				  				<area shape="rect" coords="1018,142,1175,179" href="../elements/id-8123a62aaafd482fb103dd47ce33fc85.html"  target="element">
				  				<area shape="rect" coords="1018,58,1175,131" href="../elements/id-97a40874864041f580c4f8a0d6864802.html"  target="element">

				  		<area shape="rect" coords="994,10,1206,467" href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html"  target="element">
				  				<area shape="rect" coords="1294,202,1438,257" href="../elements/id-eb212ee9525645caaca17227efa585df.html"  target="element">
				  				<area shape="rect" coords="1294,130,1438,185" href="../elements/id-153dd786afab487fb20e38b077f4cba2.html"  target="element">
				  				<area shape="rect" coords="1294,58,1438,113" href="../elements/id-18d1456bf66b4ccb8d37f5046a99832e.html"  target="element">

				  		<area shape="rect" coords="1258,10,1470,275" href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html"  target="element">
				  				<area shape="rect" coords="1546,214,1678,274" href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html"  target="element">
				  				<area shape="rect" coords="1546,130,1678,202" href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html"  target="element">
				  				<area shape="rect" coords="1546,58,1678,113" href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html"  target="element">

				  		<area shape="rect" coords="1522,10,1690,287" href="../elements/id-74375149cd2b4a70a3a624f256f33448.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
											    <td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element"> 100% clean energy utilization </a> </td>
													    <td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element"> Carbon Trust's Carbon neutral certification </a> </td>
													    <td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element"> 100% recyclable packaging </a> </td>
													    <td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
											    <td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-18d1456bf66b4ccb8d37f5046a99832e.html" target="element"> Increased solar panel instalation </a> </td>
													    <td> <a href="../elements/id-18d1456bf66b4ccb8d37f5046a99832e.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-153dd786afab487fb20e38b077f4cba2.html" target="element"> Increased rPET plastic recycling  </a> </td>
													    <td> <a href="../elements/id-153dd786afab487fb20e38b077f4cba2.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb212ee9525645caaca17227efa585df.html" target="element"> Increased trees plantation, forest &amp; mangroves restorations </a> </td>
													    <td> <a href="../elements/id-eb212ee9525645caaca17227efa585df.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
											    <td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-97a40874864041f580c4f8a0d6864802.html" target="element"> Plant trees, forest &amp; mangrooves restoration </a> </td>
													    <td> <a href="../elements/id-97a40874864041f580c4f8a0d6864802.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8123a62aaafd482fb103dd47ce33fc85.html" target="element"> Installing solar panels </a> </td>
													    <td> <a href="../elements/id-8123a62aaafd482fb103dd47ce33fc85.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64fd1b0d4d4f4879b3e31962db39715b.html" target="element"> Build recycling facility </a> </td>
													    <td> <a href="../elements/id-64fd1b0d4d4f4879b3e31962db39715b.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ddc22cb4b8c844a39244c048b1b61b06.html" target="element"> Integrate Sustainability, and Procurement with ERP </a> </td>
													    <td> <a href="../elements/id-ddc22cb4b8c844a39244c048b1b61b06.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc8dd799f752453d9bba82002cf6ed14.html" target="element"> Integrate Sustainability &amp;  Procurement data </a> </td>
													    <td> <a href="../elements/id-dc8dd799f752453d9bba82002cf6ed14.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-804c5888f3b54edf991c8054e8f77f15.html" target="element"> Conduct PAS 2060 </a> </td>
													    <td> <a href="../elements/id-804c5888f3b54edf991c8054e8f77f15.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dbdc00504da844d78f9993c057262e76.html" target="element"> Sustainability Team </a> </td>
											    <td> <a href="../elements/id-dbdc00504da844d78f9993c057262e76.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9dfb0f06629641b3bb24b3f94aaa485c.html" target="element"> Sustainability Lead </a> </td>
													    <td> <a href="../elements/id-9dfb0f06629641b3bb24b3f94aaa485c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-797d63a9017b4bd1bcd0d3588a39a1c8.html" target="element"> Sustainability Manager </a> </td>
													    <td> <a href="../elements/id-797d63a9017b4bd1bcd0d3588a39a1c8.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eec3343cccb84065865f6da0b67a7af1.html" target="element"> Sustainability Engineer </a> </td>
													    <td> <a href="../elements/id-eec3343cccb84065865f6da0b67a7af1.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac11b7e05a47452ea822db7c316e951b.html" target="element"> Partnerships Staff </a> </td>
													    <td> <a href="../elements/id-ac11b7e05a47452ea822db7c316e951b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d76962ee5471483f8f7c19fa1f311700.html" target="element"> Product Manager </a> </td>
													    <td> <a href="../elements/id-d76962ee5471483f8f7c19fa1f311700.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d75e5778caba4d8db8a3ab6bd20e2f83.html" target="element"> Product Designer </a> </td>
													    <td> <a href="../elements/id-d75e5778caba4d8db8a3ab6bd20e2f83.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c442811a87cc4a62aab6a72ced01d9c8.html" target="element"> IT Team </a> </td>
											    <td> <a href="../elements/id-c442811a87cc4a62aab6a72ced01d9c8.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-76e003f3767d47b6ad5f71ddb9096507.html" target="element"> CIO </a> </td>
													    <td> <a href="../elements/id-76e003f3767d47b6ad5f71ddb9096507.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf992be8674347faa710f47e638673c5.html" target="element"> Data Scientist </a> </td>
													    <td> <a href="../elements/id-cf992be8674347faa710f47e638673c5.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-075bd625cf7b4ec0867fa8d85345f03b.html" target="element"> Database Administator </a> </td>
													    <td> <a href="../elements/id-075bd625cf7b4ec0867fa8d85345f03b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e7ec8449fca49d795f951f93e06f01b.html" target="element"> IT Support </a> </td>
													    <td> <a href="../elements/id-4e7ec8449fca49d795f951f93e06f01b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f324aff638c44f9a3b0d920889e1b41.html" target="element"> Business Intelligence </a> </td>
													    <td> <a href="../elements/id-6f324aff638c44f9a3b0d920889e1b41.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d18e923274544d98c7714ded3b40653.html" target="element"> Network Engineer </a> </td>
													    <td> <a href="../elements/id-0d18e923274544d98c7714ded3b40653.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bdf52e2fa40a4c368ac191fb2584540b.html" target="element"> IT Infrastructure </a> </td>
											    <td> <a href="../elements/id-bdf52e2fa40a4c368ac191fb2584540b.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fa093a7e78b54602a0cdd3f8e4e61940.html" target="element"> DBMS </a> </td>
													    <td> <a href="../elements/id-fa093a7e78b54602a0cdd3f8e4e61940.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e614c3b1924b4a2aa57c09b327ad58b7.html" target="element"> Intranet </a> </td>
													    <td> <a href="../elements/id-e614c3b1924b4a2aa57c09b327ad58b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b2cf1ed0dfc4d398dddc143475118c3.html" target="element"> Secure VPN </a> </td>
													    <td> <a href="../elements/id-4b2cf1ed0dfc4d398dddc143475118c3.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9a47c4b5d24f448b961e85d385eea6fc.html" target="element"> High Speed Network </a> </td>
													    <td> <a href="../elements/id-9a47c4b5d24f448b961e85d385eea6fc.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f738606415b84b6f81756b7ab0fcdfd7.html" target="element"> ERP System </a> </td>
													    <td> <a href="../elements/id-f738606415b84b6f81756b7ab0fcdfd7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d970b71da26141d6b54f261654416355.html" target="element"> ERP Server </a> </td>
													    <td> <a href="../elements/id-d970b71da26141d6b54f261654416355.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-94b6d8c3679c4c8e85cda2d850d4e0ce.html" target="element"> Procurement Team </a> </td>
											    <td> <a href="../elements/id-94b6d8c3679c4c8e85cda2d850d4e0ce.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f6124fd687444e68b6d18d7a4cdee6e3.html" target="element"> Procurement Lead </a> </td>
													    <td> <a href="../elements/id-f6124fd687444e68b6d18d7a4cdee6e3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-964d5d2a02ff4a24b65c1de6faa37a8a.html" target="element"> Procurement Manager </a> </td>
													    <td> <a href="../elements/id-964d5d2a02ff4a24b65c1de6faa37a8a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d0feeeb7dac4cab926946deb73d7e81.html" target="element"> Procurement Staff </a> </td>
													    <td> <a href="../elements/id-1d0feeeb7dac4cab926946deb73d7e81.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-259aec0d496d4530b28753060fff8335.html" target="element"> IT Management </a> </td>
											    <td> <a href="../elements/id-259aec0d496d4530b28753060fff8335.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed65a796981a42ef8e1d6c9d53138b90.html" target="element"> Procurement Management </a> </td>
											    <td> <a href="../elements/id-ed65a796981a42ef8e1d6c9d53138b90.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-653d466566fc4fa883deb27d7e9044d5.html" target="element"> Sustainability Strategy </a> </td>
											    <td> <a href="../elements/id-653d466566fc4fa883deb27d7e9044d5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-20acc2344e3c434382e6aa43850d9f42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20acc2344e3c434382e6aa43850d9f42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																		<td> <a href="../elements/id-21e5d88933124dc2b9eebfe88d510530.html" target="element"> Carbon Trust's Carbon neutral certification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea7f662de4d74bec8d56b73136876c14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea7f662de4d74bec8d56b73136876c14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																		<td> <a href="../elements/id-4b4dff64c9af4463ad001cd1d64c9b25.html" target="element"> 100% recyclable packaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30c3d225ece04570ae577468d36f9f55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30c3d225ece04570ae577468d36f9f55.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																		<td> <a href="../elements/id-a055b5c980214fbca58b4d8110d97f36.html" target="element"> 100% clean energy utilization </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7cd0f3797e2b477c90c3dda4ddf46197.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cd0f3797e2b477c90c3dda4ddf46197.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
																		<td> <a href="../elements/id-74375149cd2b4a70a3a624f256f33448.html" target="element"> Sustainability Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e5d93f7f22d4915af4b7aa5e9b078c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e5d93f7f22d4915af4b7aa5e9b078c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
																		<td> <a href="../elements/id-eb212ee9525645caaca17227efa585df.html" target="element"> Increased trees plantation, forest &amp; mangroves restorations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb35a5c407db488bafdb1e4d84e1708c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb35a5c407db488bafdb1e4d84e1708c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
																		<td> <a href="../elements/id-153dd786afab487fb20e38b077f4cba2.html" target="element"> Increased rPET plastic recycling  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb66fe0edbe743fe93ec96e7f7e43983.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb66fe0edbe743fe93ec96e7f7e43983.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
																		<td> <a href="../elements/id-18d1456bf66b4ccb8d37f5046a99832e.html" target="element"> Increased solar panel instalation </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9666a21cfa444b20a72ebd8ae5592856.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9666a21cfa444b20a72ebd8ae5592856.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-97a40874864041f580c4f8a0d6864802.html" target="element"> Plant trees, forest &amp; mangrooves restoration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33515e0c935b485c88f7374dca87f577.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33515e0c935b485c88f7374dca87f577.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-ddc22cb4b8c844a39244c048b1b61b06.html" target="element"> Integrate Sustainability, and Procurement with ERP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e972eaed33294840a7dd28cd2994fe7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e972eaed33294840a7dd28cd2994fe7b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-8123a62aaafd482fb103dd47ce33fc85.html" target="element"> Installing solar panels </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fe743067ed84d35acce1d893a41e658.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fe743067ed84d35acce1d893a41e658.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-807ed0c2d81b4d06be399a2603e83169.html" target="element"> Sustainability Outcomes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1197b7232545431d9d385c8b25df80b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1197b7232545431d9d385c8b25df80b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-dc8dd799f752453d9bba82002cf6ed14.html" target="element"> Integrate Sustainability &amp;  Procurement data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2aa635965d1743a4b082a9c6a405c9e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aa635965d1743a4b082a9c6a405c9e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-64fd1b0d4d4f4879b3e31962db39715b.html" target="element"> Build recycling facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41ae5d3545584b8fa2e190c90b70d3c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41ae5d3545584b8fa2e190c90b70d3c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																		<td> <a href="../elements/id-804c5888f3b54edf991c8054e8f77f15.html" target="element"> Conduct PAS 2060 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-397b442296144bfdb926626853d01146.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-397b442296144bfdb926626853d01146.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbdc00504da844d78f9993c057262e76.html" target="element"> Sustainability Team </a> </td>
																		<td> <a href="../elements/id-653d466566fc4fa883deb27d7e9044d5.html" target="element"> Sustainability Strategy </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b60a71c7579344d8b192b495334cf3e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b60a71c7579344d8b192b495334cf3e2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c442811a87cc4a62aab6a72ced01d9c8.html" target="element"> IT Team </a> </td>
																		<td> <a href="../elements/id-259aec0d496d4530b28753060fff8335.html" target="element"> IT Management </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d96076d0851f4380a446ec80bebb2416.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d96076d0851f4380a446ec80bebb2416.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bdf52e2fa40a4c368ac191fb2584540b.html" target="element"> IT Infrastructure </a> </td>
																		<td> <a href="../elements/id-259aec0d496d4530b28753060fff8335.html" target="element"> IT Management </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-651393b97b5f4003b18023efdf6b710b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-651393b97b5f4003b18023efdf6b710b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94b6d8c3679c4c8e85cda2d850d4e0ce.html" target="element"> Procurement Team </a> </td>
																		<td> <a href="../elements/id-ed65a796981a42ef8e1d6c9d53138b90.html" target="element"> Procurement Management </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-16e9456c9fb646e4b4fa732e7101c571.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16e9456c9fb646e4b4fa732e7101c571.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-259aec0d496d4530b28753060fff8335.html" target="element"> IT Management </a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3edb37f968ed40d0927a42672c598d4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3edb37f968ed40d0927a42672c598d4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed65a796981a42ef8e1d6c9d53138b90.html" target="element"> Procurement Management </a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-94da431e1aee441e85560dc67534f7f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94da431e1aee441e85560dc67534f7f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-653d466566fc4fa883deb27d7e9044d5.html" target="element"> Sustainability Strategy </a> </td>
																		<td> <a href="../elements/id-2b6b9a1691ad4881a0da4311a19cf50d.html" target="element"> Strategy &amp; Planning </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>